
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Services</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="~/Assets/Client/css/service_style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/Client/vendor/fontawesome-free/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/ff1f89259c.js" crossorigin="anonymous"></script>
    <link href="~/Assets/Client/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/Client/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
    <!--navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-branch" href="#">
                <img src="~/Assets/Client/images/Luc.png" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Connect</a>
                    </li>
                    @{
                        var session = (ShopOnline.Common.UserLogin)Session[ShopOnline.Common.ConstantsCommon.USER_SESSION];
                    }
                    @if (session == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/user/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/register">Sign Up</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown no-arrow hidden">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span style="color: skyblue" class="mr-2 d-none d-lg-inline ">@session.UserName</span>
                                <img style=" max-width: 30px; max-height:30px;" class="img-profile rounded-circle"
                                     src="~/Assets/Client/images/hiep.jpg">
                            </a>
                            @*Dropdown - User Information*@
                            <div style="background-color: cadetblue;margin: 0;" class=" dropdown-menu dropdown-menu-lg-right shadow animated--grow-in m-0"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout","user")">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>

                            </div>
                        </li>
                    }
                </ul>
            </div>

        </div>
    </nav>

    <div class="container-wrap">
        <div class="container main-content">
            <div class="col-lg-6">
                <img src="~/Assets/Client/images/preventative_1.PNG" class="img-fluid">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <h1>Flea Prevention and Control</h1>
                <p>Fleas can cause problems for pets ranging from minor to life-threatening. Not only can these parasites cause severe itching, irritation, and allergies, but they can also transmit tapeworms and diseases. Fleas can infest dogs, cats, ferrets, mice, and rats. And fleas don’t just stay on pets; they can bite people, too. For more information, contact us or see the flea article in the Pet Health Library on our site.</p>
                <p>You don’t want these blood-sucking parasites on your pet or in your home. We can help keep them away or help you get rid of them if they’ve already found their way inside. Call us to find out how to eliminate and control fleas or to start your pet on a preventive today.</p>
                <br>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="container main-content">
            <div class="col-lg-6">
                <img src="~/Assets/Client/images/preventative_2.PNG" class="img-fluid">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <h1>Heartworm Prevention</h1>
                <p>When they bite, mosquitoes can transmit heartworm infection. And those heartworms can wreak havoc on your dog or cat. These parasites can severely and sometimes fatally damage the heart, lungs, and blood vessels. Some pets may not show any signs of infection; in those that do, symptoms can vary widely.</p>
                <p>In dogs, signs of heartworm disease can range from coughing, fatigue, and weight loss to difficulty breathing and a swollen abdomen (caused by fluid accumulation from heart failure). Canine heartworm infection can also lead to a life-threatening complication called “caval syndrome” (a form of liver failure); without prompt surgical intervention, this condition usually causes death.</p>


                <br>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container">
            <h1 class="text-center wow fadeInUp">Make an Appointment</h1>
            <div class="d-flex justify-content-center">
                <Button class="m-1 btn btn-primary  " type="submit">
                    <a class="m-1" style="color:white;text-decoration:none" href="#">
                        <i class="fa fa-calendar-check-o"> </i>
                        Now
                    </a>
                </Button>
            </div>

        </div>
    </div>
    <br />
    <hr />
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="~/Assets/Client/images/Luc.png">
                    <hr class="light">
                    <p>111-222-3333</p>
                    <p>nhatdang261@gmail.com</p>
                    <p>475A Dien Bien Phu, Binh Thanh district, HCM, VietNam</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Working hours</h5>
                    <hr class="light">
                    <p>Monday-Friday: 8am - 5pm</p>
                    <p>Weekend: 8am - 12am</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Services</h5>
                    <hr class="light">
                    <p>Outsourcing</p>
                    <p>Website development</p>
                    <p>Mobile applications</p>
                </div>
                <div class="col-12">
                    <hr class="light-100">
                    <h5>&copy; WebProject</h5>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>
