
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screening Tests</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="~/Assets/Client/css/service_style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/Client/vendor/fontawesome-free/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/ff1f89259c.js" crossorigin="anonymous"></script>
    <link href="~/Assets/Client/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/Client/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
    <!--navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-branch" href="#">
                <img src="./images/Luc.png" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Connect</a>
                    </li>
                    @{
                        var session = (ShopOnline.Common.UserLogin)Session[ShopOnline.Common.ConstantsCommon.USER_SESSION];
                    }
                    @if (session == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/user/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/register">Sign Up</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown no-arrow hidden">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span style="color: skyblue" class="mr-2 d-none d-lg-inline ">@session.UserName</span>
                                <img style=" max-width: 30px; max-height:30px;" class="img-profile rounded-circle"
                                     src="~/Assets/Client/images/hiep.jpg">
                            </a>
                            @*Dropdown - User Information*@
                            <div style="background-color: cadetblue;margin: 0;" class=" dropdown-menu dropdown-menu-lg-right shadow animated--grow-in m-0"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout","user")">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>

                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-wrap">
        <div class="container main-content">
            <div class="col-lg-6">
                <img src="./images/screening_1.PNG" class="img-fluid">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <h1>Von Willebrand’s Disease</h1>
                <p>Knowing if your dog has this condition before an emergency situation arises can mean the difference between life and death. Similar to haemophilia in humans, von Willebrand’s disease can result in life-threatening bleeding. Many dogs that carry this disease in their genetic makeup go undetected until a minor surgery or small, superficial injury results in significant blood loss.</p>
                <p>We offer testing for this disease, which is an inheritable trait in some breeds. As many as 50% of Dobermans are affected; other commonly affected breeds include German shepherds, German shorthaired and wirehaired pointers, golden and Chesapeake Bay retrievers, Pembroke Welsh corgis, poodles, Scottish and Manchester terriers, and Shetland sheepdogs. If you have an at-risk breed, we recommend that you have your dog tested.</p>
                <br>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="container main-content">
            <div class="col-lg-6">
                <img src="./images/screening_2.PNG" class="img-fluid">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <h1>Renal Dysplasia</h1>
                <p>Renal dysplasia is a disorder in which the kidneys do not develop normally. It most commonly affects Shih Tzus, Lhasa apsos, and soft-coated wheaten terriers. Dogs usually become clinically ill before 1 year of age.</p>
                <p>Unfortunately, this genetic disease has no cure; many affected dogs will develop kidney failure. Management options are limited and generally expensive. Although some dogs are only carriers of this disorder and have normal kidney function, they can still pass the trait onto their offspring.</p>


                <br>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container">
            <h1 class="text-center wow fadeInUp">Make an Appointment</h1>

            <div class="d-flex justify-content-center">
                <Button class="m-1 btn btn-primary  " type="submit">
                    <a class="m-1" style="color:white;text-decoration:none" href="/Appointment/Index">
                        <i class="fa fa-calendar-check-o"> </i>
                        Now
                    </a>
                </Button>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="~/Assets/Client/images/Luc.png">
                    <hr class="light">
                    <p>111-222-3333</p>
                    <p>nhatdang261@gmail.com</p>
                    <p>475A Dien Bien Phu, Binh Thanh district, HCM, VietNam</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Working hours</h5>
                    <hr class="light">
                    <p>Monday-Friday: 8am - 5pm</p>
                    <p>Weekend: 8am - 12am</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Services</h5>
                    <hr class="light">
                    <p>Outsourcing</p>
                    <p>Website development</p>
                    <p>Mobile applications</p>
                </div>
                <div class="col-12">
                    <hr class="light-100">
                    <h5>&copy; WebProject</h5>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>