

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Services</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="~/Assets/Client/css/service_style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/Client/vendor/fontawesome-free/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/ff1f89259c.js" crossorigin="anonymous"></script>
    <link href="~/Assets/Client/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/Client/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
    <!--navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-branch" href="#">
                <img src="~/Assets/Client/images/Luc.png" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Connect</a>
                    </li>
                    @{
                        var session = (ShopOnline.Common.UserLogin)Session[ShopOnline.Common.ConstantsCommon.USER_SESSION];
                    }
                    @if (session == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/user/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/register">Sign Up</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown no-arrow hidden">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span style="color: skyblue" class="mr-2 d-none d-lg-inline ">@session.UserName</span>
                                <img style=" max-width: 30px; max-height:30px;" class="img-profile rounded-circle"
                                     src="~/Assets/Client/images/hiep.jpg">
                            </a>
                            @*Dropdown - User Information*@
                            <div style="background-color: aquamarine ;margin: 0;" class=" dropdown-menu dropdown-menu-lg-right shadow animated--grow-in m-0"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout","user")">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>

                            </div>
                        </li>
                    }
                </ul>
            </div>

        </div>
    </nav>

    <div class="container-wrap">
        <div class="container main-content">
            <div class="col-lg-6">
                <img src="~/Assets/Client/images/Surgery_1.PNG" class="img-fluid">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <h1>Dentistry</h1>
                <p>Imagine what your mouth would feel like if you never brushed your teeth or went to the dentist. For many dogs and cats, this is a painful reality. According to the American Veterinary Dental Society, more than 80% of dogs and 70% of cats have dental disease by the age of 3. Dental (or periodontal) disease is the most frequently diagnosed health problem in pets.</p>
                <p>Common signs of dental disease include:</p>
                <ul>
                    <li>
                        <a>Yellow or brown buildup (tartar) on the teeth</a>
                    </li>
                    <li>
                        <a>Red, swollen, or bleeding gums</a>
                    </li>
                    <li>
                        <a>Excessive drooling</a>
                    </li>
                    <li>
                        <a>Changes in eating or chewing habits</a>
                    </li>
                    <li>
                        <a>Pawing at the face</a>
                    </li>
                    <li>
                        <a>Loose teeth</a>
                    </li>
                    <li>
                        <a>Depression</a>
                    </li>
                </ul>
                <br>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="container main-content">
            <div class="col-lg-6">
                <img src="~/Assets/Client/images/choose2.png" class="img-fluid">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <h1>Soft Tissue Surgery</h1>
                <p>We perform many types of soft tissue surgeries at our clinic. Soft tissue surgeries are those that are not associated with bone. These surgeries can provide many benefits to pets.</p>
                <p>Probably the most common soft tissue surgery performed on pets is the removal of masses, or lumps. Most of these masses, once removed and tested, are found to be benign (nonharmful); however, occasionally they are more serious. Early removal and accurate diagnosis of a lump is necessary to improve the outcome in your pet if the mass is cancerous.</p>
                <p>If your dog suffers from frequent ear infections, surgical intervention can reduce their occurrence by improving airflow into the ear canal.</p>
                Surgery can also help resolve several problems related to the eyes. Tearing in your pet’s eyes can mean an infection is present or may be a sign that the cornea (outer layer of the eye) has been damaged. Surgery may allow the cornea to heal faster with less scarring, improving your pet’s ability to see. In some pets, the eyelashes may actually damage the cornea. Surgical intervention improves comfort in these pets, reduces the chances of corneal scarring, and enhances the pet’s vision in the long term.
                <p>Please contact us if you’d like to discuss how soft tissue surgery might be able to help your pet.</p>
                <br>
            </div>
        </div>
    </div>
    <div class="page-section">
        <br />
        <hr />
        <div class="container">
            <h1 class="text-center wow fadeInUp">Make an Appointment</h1>
            <br />
            <div class="d-flex justify-content-center">
                <Button  class="m-1 btn btn-primary  " type="submit">
                    <a class="m-1" style="color:white;text-decoration:none" href="#">
                        <i class="fa fa-calendar-check-o"> </i>
                        Now
                    </a>
                </Button>
            </div>
            
        </div>
    </div>
    <br />
    <hr />
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="~/Assets/Client/images/Luc.png">
                    <hr class="light">
                    <p>111-222-3333</p>
                    <p>nhatdang261@gmail.com</p>
                    <p>475A Dien Bien Phu, Binh Thanh district, HCM, VietNam</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Working hours</h5>
                    <hr class="light">
                    <p>Monday-Friday: 8am - 5pm</p>
                    <p>Weekend: 8am - 12am</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Services</h5>
                    <hr class="light">
                    <p>Outsourcing</p>
                    <p>Website development</p>
                    <p>Mobile applications</p>
                </div>
                <div class="col-12">
                    <hr class="light-100">
                    <h5>&copy; WebProject</h5>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>
