
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="sidebar">
                <li><a href="#">Your profile</a></li>
                <li><a href="#">Your Medical Examination Form</a></li>
                <li><a href="#">Your Appointment history</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            
        </div>
    </div>
</div>

