
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--nav section-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">What We Schedule</h1>
        </div>
        <!-- Horizontal Rule -->
        <div class="col-12">
            <p>Pet Health Clinic offers a wide variety of professional services for your pet including general surgery, nutritional counseling, patient monitoring, dentistry, grooming, vaccinations, and much more! If you're ready to see our expert veterinary team in Easton, call Pet Health Clinic today at 410-820-4286 or make an appointment now.</p>
        </div>
    </div>
    <hr>
</div>
<!--end nav section -->
<div class="card-schedule" style="width: 100%;" >
    <div class="schedule-card">
        <img src="~/Assets/Client/images/download.png" alt="" style="width:100%">
        <div class="container">
            <h4>
                Schedule
            </h4>
            <a href="#">
                <p>
                    Read more...
                </p>
            </a>
        </div>
    </div>
    <div class="schedule-card">
        <img src="~/Assets/Client/images/download.png" alt="" style="width:100%">
        <div class="container">
            <h4>
                Schedule
            </h4>
            <a href="#">
                <p>
                    Read more...
                </p>
            </a>
        </div>
    </div>
    <div class="schedule-card">
        <img src="~/Assets/Client/images/download.png" alt="" style="width:100%">
        <div class="container">
            <h4>
                Schedule
            </h4>
            <a href="#">
                <p>
                    Read more...
                </p>
            </a>
        </div>
    </div>
    <div class="schedule-card">
        <img src="~/Assets/Client/images/download.png" alt="" style="width:100%">
        <div class="container">
            <h4>
                Schedule
            </h4>
            <a href="#">
                <p>
                    Read more...
                </p>
            </a>
        </div>
    </div>

    <div class="schedule-card">
        <img src="~/Assets/Client/images/download.png" alt=""style="width:100%">
        <div class="container">
            <h4>
                Schedule
            </h4>
            <a href="#">
                <p>
                    Read more...
                </p>
            </a>
        </div>
    </div>

    <div class="schedule-card">
        <img src="~/Assets/Client/images/download.png" alt="" style="width:100%">
        <div class="container">
            <h4>
                Schedule
            </h4>
            <a href="#">
                <p>
                    Read more...
                </p>
            </a>
        </div>
    </div>

    <div class="schedule-card">
        <img src="~/Assets/Client/images/download.png" alt=""style="width:100%">
        <div class="container">
            <h4>
                Schedule
            </h4>
            <a href="#">
                <p>
                    Read more...
                </p>
            </a>
        </div>
    </div>

    <div class="schedule-card">
        <img src="~/Assets/Client/images/download.png" alt=""style="width:100%">
        <div class="container">
            <h4>
                Schedule
            </h4>
            <a href="#">
                <p>
                    Read more...
                </p>
            </a>
        </div>
    </div>
</div>

<div class="clear">

</div>
<hr />