<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="~/Assets/Client/images/Luc.png">
                <hr class="light">
                <p>111-222-3333</p>
                <p>nhatdang261@gmail.com</p>
                <p>475A Dien Bien Phu, Binh Thanh district, HCM, VietNam</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Working hours</h5>
                <hr class="light">
                <p>Monday-Friday: 8am - 5pm</p>
                <p>Weekend: 8am - 12am</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Services</h5>
                <hr class="light">
                <p>Outsourcing</p>
                <p>Website development</p>
                <p>Mobile applications</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; WebProject</h5>
            </div>
        </div>
    </div>
</footer>

