
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">What We Offer</h1>
        </div>
        <!-- Horizontal Rule -->
        <div class="col-12">
            <p>Pet Health Clinic offers a wide variety of professional services for your pet including general surgery, nutritional counseling, patient monitoring, dentistry, grooming, vaccinations, and much more! If you're ready to see our expert veterinary team in Easton, call Pet Health Clinic today at 410-820-4286 or make an appointment now.</p>
        </div>
    </div>
    <hr>
</div>
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4 ">
            <a href="/services/SurgicalServices" class="btn btn-primary btn-circle btn-lg">
                <i class="fa-solid fa-user-doctor"></i>
            </a>
            <h3>Surgical Services</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="#" class="btn btn-success btn-circle btn-lg">
                <i class="fa-solid fa-capsules"></i>
            </a>
            <h3>Preventative Services </h3>

        </div>
        <div class="col-sm-12 col-md-4">
            <a href="#" class="btn btn-primary btn-circle btn-lg">
                <i class="fa-solid fa-briefcase-medical"></i>
            </a>
            <h3>Additional Services</h3>
        </div>
    </div>
    <hr>
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4 ">
            <a href="#" class="btn btn-primary btn-circle btn-lg">
                <i class="fa-solid fa-stethoscope"></i>
            </a>
            <h3>Patient Monitoring</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="#" class="btn btn-success btn-circle btn-lg">
                <i class="fa-regular fa-heart"></i>
            </a>
            <h3>Pet Wellness </h3>

        </div>
        <div class="col-sm-12 col-md-4">
            <a href="#" class="btn btn-primary btn-circle btn-lg">
                <i class="fa-solid fa-bone"></i>
            </a>
            <h3>Nutritional Counselings</h3>
        </div>
    </div>
    <hr>
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4 ">
            <a href="#" class="btn btn-primary btn-circle btn-lg">
                <i class="fa-solid fa-broom"></i>
            </a>
            <h3>Grooming</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="#" class="btn btn-success btn-circle btn-lg">
                <i class="fa-solid fa-print"></i>
            </a>
            <h3>Screening Tests</h3>

        </div>
        <div class="col-sm-12 col-md-4">
            <a href="#" class="btn btn-primary btn-circle btn-lg">
                <i class="fa-solid fa-dog"></i>
            </a>
            <h3>Pet Supplies</h3>
        </div>
    </div>
</div>