
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <img src="~/Assets/Client/images/choose2.png" class="img-fluid">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <h1>Dentistry</h1>
                <p>Imagine what your mouth would feel like if you never brushed your teeth or went to the dentist. For many dogs and cats, this is a painful reality. According to the American Veterinary Dental Society, more than 80% of dogs and 70% of cats have dental disease by the age of 3. Dental (or periodontal) disease is the most frequently diagnosed health problem in pets.</p>
                <p>Common signs of dental disease include:</p>
                <ul>
                    <li>
                        <a>Yellow or brown buildup (tartar) on the teeth</a>
                    </li>
                    <li>
                        <a>Red, swollen, or bleeding gums</a>
                    </li>
                    <li>
                        <a>Excessive drooling</a>
                    </li>
                    <li>
                        <a>Changes in eating or chewing habits</a>
                    </li>
                    <li>
                        <a>Pawing at the face</a>
                    </li>
                    <li>
                        <a>Loose teeth</a>
                    </li>
                    <li>
                        <a>Depression</a>
                    </li>
                </ul>
                <br>
            </div>
        </div>
    </div>
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <img src="~/Assets/Client/images/choose2.png" class="img-fluid">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <h1>Soft Tissue Surgery</h1>
                <p>We perform many types of soft tissue surgeries at our clinic. Soft tissue surgeries are those that are not associated with bone. These surgeries can provide many benefits to pets.</p>
                <p>Probably the most common soft tissue surgery performed on pets is the removal of masses, or lumps. Most of these masses, once removed and tested, are found to be benign (nonharmful); however, occasionally they are more serious. Early removal and accurate diagnosis of a lump is necessary to improve the outcome in your pet if the mass is cancerous.</p>
                <p>If your dog suffers from frequent ear infections, surgical intervention can reduce their occurrence by improving airflow into the ear canal.</p>
                Surgery can also help resolve several problems related to the eyes. Tearing in your pet’s eyes can mean an infection is present or may be a sign that the cornea (outer layer of the eye) has been damaged. Surgery may allow the cornea to heal faster with less scarring, improving your pet’s ability to see. In some pets, the eyelashes may actually damage the cornea. Surgical intervention improves comfort in these pets, reduces the chances of corneal scarring, and enhances the pet’s vision in the long term.
                <p>Please contact us if you’d like to discuss how soft tissue surgery might be able to help your pet.</p>
                <br>
            </div>
        </div>
    </div>
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <a href="./Schedule.html">
                    <button class="snip0050 red">
                        <span>Set Schedule</span>
                        <i class="fa-solid fa-calendar"></i>
                    </button>
                </a>
                <a href="/admin/services">
                    <button class="snip0050 yellow">
                        <span>Back</span>
                        <i class="fa-solid fa-arrow-rotate-left"></i>
                    </button>
                </a>
            </div>
        </div>

    </div>

